body{
    font-family: "Goblin One", Helvetica;
}
.websiteDiv{
    text-align: center;
}
.tittle{
    color: white;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 3px black;
    text-shadow: 3px 4px 1px #ff0000;
}

.input{
    border: solid 5px black;
    width: 50%;
    height: 35px;
    color: #0000006e;
    font-weight: bold;
}

.result{
    text-align: center;
    margin: 30px auto;
    width: 40%;
}

.toimintaSelect{
    color: #0000006e;
    text-align: center;
    font-weight: bold;
}
